.headline-font {
    font-family: 'Lora', 'Poppins', sans-serif;
}
.work-sans-font {
    font-family: 'Work Sans', sans-serif;
}
.libre-baskerville-font {
    font-family: 'Libre Baskerville', serif;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
body{
background-image: url("full-bloom.webp");
}
#top_navbar{
    background-color: rgba(238, 236, 233,0.5);
}
#navbar_img_div{
    height: 10vh;
}
#navbar_img_div img{
    height:8vh; 
}
@media(max-width:640px){
    #navbar_img_div img{
        height:4.5vh;
    }
}
#navbar_pp img{
    border-radius:50%;
    height: 6vh;
    width:6vh;
}
#navbar_searchbar form{
    background-color: white;
    border-radius: 1rem;
}
#navbar_searchbar input{
    border-radius: 1rem 0 0 1rem;
    border:none;
    outline:none;
}
#bottom_navbar{
     background-color: rgba(238, 236, 233,0.5);
}
#navbar_pp img{
    object-fit:cover;
}
#navbar_searchbar i{
    transition: transform 0.5s ease;
}
#navbar_searchbar i:hover{
    transform: rotate(360deg);
}
#filter-bar-container{
     background-color: rgba(238, 236, 233,0.5);
}
#filterNavbar i{
    font-size: 1.5rem;
}
#filterNavbar select{
    border-radius: 0.8rem;
    padding: 1px;
}
#book_name{
    font-weight: 600;
}
#author_name{
    color: gray;
}

.swap-btn {
    font-size:25px;
    margin-left:-5px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.swap-btn .arrow-icon {
    transition: transform 0.3s ease;
}

.swap-btn:hover {
    background-color: #e0e0e0;
    transform: scale(1.08);
}

.swap-btn:hover .arrow-icon {
    transform: translateX(3px);
}
#book_image{
    height: 500px;
}