body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-wrapper {
  height: 100vh;
  background: url('login_back.jpg') no-repeat center center fixed;
  background-size: cover;
}

.register-card {
    color:black;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.register-card .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
}

.register-card .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.register-card .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  box-shadow: none;
  outline: none;
}

.register-card a {
  text-decoration: underline;
  color: #d2e3ff;
}
